:root {
  --hover: #e3e5e8;
  --text: #1c2b33;
  --cart: #ffffff;
  --back: #f2f4f7;
  --inactive-text: #868686;
  --active-color: #0b78be;
  --active-bg-color: #ebf5ff;
  --active-color-hover: #d9eafc;
  --inactive-btn: #e4e6eb;
  --nav-color: #6e7074;
  --nav-hover: #d8dadf;
  --nav-bg: #e2e5e9;
  --icon-bg: #e4e6eb;
  --color1: #efe3f0;
  --color2: #e9f6f3;
  --color3: #eef6fd;
  --popup-background: rgba(255, 255, 255, 0.4);
  --loading-1: #f0f0f0;
  --loading-2: #f8f8f8;
  --loading-3: #f0f0f0;
  --disable-nav-bg: #e4e6eb;
}

[data-theme="dark"] {
  --hover: rgba(255, 255, 255);
  --text: #e4e6eb;
  --cart: #242526;
  --back: #1c1c1d;
  --inactive-text: #b0b3b8;
  --active-bg-color: #253950;
  --active-color: #0b78be;
  --active-color-hover: #3a4d63;
  --inactive-btn: #505151;
  --nav-color: #b0b3b8;
  --nav-hover: #4e4f50;
  --nav-bg: #3a3b3c;
  --icon-bg: #3a3b3c;
  --color1: #37352d;
  --color2: #262f3f;
  --color3: #2d3637;
  --popup-background: rgba(0, 0, 0, 0.4);
  --loading-1: #7b7e81;
  --loading-2: #5c5e61;
  --loading-3: #4d4f51;
  --disable-nav-bg: #505151;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.disable-nav-bg {
  background-color: var(--disable-nav-bg);
}

.border-color {
  border: 1px solid #a7b3bf;
}

.reactEasyCrop_Container,
.reactEasyCrop_CropArea {
  width: "100%";
  height: 400px;
  margin: auto;
}

.reactEasyCrop_Container {
  background-color: var(--cart);
}

.gradient-background {
  background-image: linear-gradient(
    -120deg,
    var(--color1) 10%,
    var(--color2) 40%,
    var(--color3) 90%
  );
}

body {
  /* background-image: linear-gradient(
    -120deg,
    var(--color1) 10%,
    var(--color2) 50%,
    var(--color3) 90%
  ); */
  background-color: var(--back);
  color: var(--text);
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

.active-text-color {
  color: var(--active-color);
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.nav-bg:hover {
  background-color: var(--nav-hover);
  cursor: pointer;
}

.shadow-mm {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.nav-bg {
  background: var(--nav-bg);
}

.icon-bg {
  background-color: var(--icon-bg);
}

.nav-text {
  color: var(--nav-color);
}

.text {
  color: var(--text);
}

.inactive-btn {
  background-color: var(--inactive-btn);
  color: var(--inactive-text);
}

.active-color {
  background-color: var(--active-bg-color);
  color: #0b78be;
}

/* input */
.hide-placeholder:not(:focus)::placeholder {
  color: transparent;
}

.active-color:hover {
  background-color: var(--active-color-hover);
  color: #0b78be;
  cursor: pointer;
}

.on {
  outline: none;
}

.cart-bg {
  background-color: var(--cart);
  color: var(--text);
}

.inactive-text {
  color: var(--inactive-text);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-m {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* table */
.container {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.item-container {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.item {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  border-bottom: 0.4px solid rgb(214, 214, 214);
}

.cell {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.shadow-popup {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* loading */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/* department card */
.card {
  transition: transform 0.3s;
  width: 300px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
}

.card:hover {
  transform: scale(1.02);
}

.card-header p {
  font-weight: 600;
  font-size: 1.25rem;
}

.card-body {
  padding: 0.5rem 1rem;
  height: 200px;
  color: #9ca3af;
  font-size: 0.875rem;
}

.card-body strong {
  color: #4b5563;
}

.card-footer {
  padding: 0.5rem 1rem;
  color: #4b5563;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #636363; /* Change to desired hover color */
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /*  -webkit-box- : inset 0 0 6px pink; */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  height: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bdc1c6;
  /*  -webkit-box- : inset 0 0 6px blue; */
}

/* Select the spin buttons and set their width to zero */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.skeleton-loader {
  background: linear-gradient(
    90deg,
    var(--loading-1) 25%,
    var(--loading-2) 50%,
    var(--loading-3) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.sketch-picker {
  border: none !important;
  background-color: red;
}

.animate-border {
  border: solid 1px red;
  animation: animate-border 2s linear infinite;
}

@keyframes animate-border {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: lime;
  }
  100% {
    border-color: red;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.react-datepicker__month-container {
  color: #969eac;
  font-family: "Poppins";
}

input {
  outline: none;
  background-color: transparent;
}

textarea {
  background-color: transparent;
}
